body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    color: #007BFF;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%; 
    height: auto;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

#btnCalcola {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
}
